<nav class="searchbar">
  <input name="searchbox" id="searchbox" placeholder="Card Name" value="<%= @card.name %>"></input>
  <input type="button" id="submitButton" onclick="run()" value="Search" />
</nav>

<article id="card" class="frametype-<%= @card.frameType%>" >
  <h3><%= @card.name %></h3>

  <span>
    <div><%= @card.card_type%></div>

    <!-- first, check if this is a monster, spell, or trap-->
    <% if @card.monster? %>
    
      <% if @card.race != nil and @card.card_attribute != nil %>
        <div><%= @card.card_attribute %> <%= @card.race %></div>
      <% end %>
      
      <% if @card.level != nil %>
        <div>Level: <%= @card.level %></div>
      <% end %>

      <% if @card.linkval != 0 %>
        <div>Link Rating: <%= @card.linkval %></div>
      <% end %>

      <% if @card.linkmarkers != nil %>
        <div>Link Markers: <%= @card.link_marker_as_string %></div>
      <% end %>

      <% if @card.atk != nil %>
        <div>Attack: <%= @card.atk %></div>
      <% end %>

      <% if @card.def != nil %>
        <div>Defense: <%= @card.def %></div>
      <% end %>
    
    <% end %>
  </span>

  <!-- Link Arrows!-->
  <% if @card.linkmarkers != nil %>
    <% svg_l = 150 %>
    <span>
      <svg width="<%=svg_l%>" height="<%=svg_l%>">
        <!-- TOP LEFT -->
        <polygon 
          points="<%=svg_l * 0%>,<%=svg_l * 0%>
                  <%=svg_l * 0%>,<%=svg_l * 0.5%>
                  <%=svg_l * 0.5%>,<%=svg_l * 0%>"
          style="fill:red;stroke:grey;stroke-width:5;"
        />
        <!-- TOP CENTER   -->
        <polygon 
          points="<%=svg_l * 0.25%>,<%=svg_l * 0.25%>
                  <%=svg_l * 0.5%>,<%=svg_l * 0%>
                  <%=svg_l * 0.75%>,<%=svg_l * 0.25%>" 
          style="fill:blue;stroke:grey;stroke-width:5;"
        /> 
        <!-- TOP RIGHT    -->
        <polygon 
          points="<%=svg_l * 1%>,<%=svg_l * 0%>
                  <%=svg_l * 0.5%>,<%=svg_l * 0%>
                  <%=svg_l * 1%>,<%=svg_l * 0.5%>"
          style="fill:green;stroke:grey;stroke-width:5;"
        /> 

        <!-- CENTER LEFT  -->
        <polygon
          points="<%=svg_l * 0.25%>,<%=svg_l * 0.25%>
                  <%=svg_l * 0%>,<%=svg_l * 0.5%>
                  <%=svg_l * 0.25%>,<%=svg_l * 0.75%>"
          style="fill:pink;stroke:grey;stroke-width:5;"
        /> 
        <!-- CENTER RIGHT -->
        <polygon
          points="<%=svg_l * 0.75%>,<%=svg_l * 0.25%>
                  <%=svg_l * 1%>,<%=svg_l * 0.50%>
                  <%=svg_l * 0.75%>,<%=svg_l * 0.75%>"
          style="fill:purple;stroke:grey;stroke-width:5;" 
        /> 

        <!-- DOWN LEFT    -->
        <polygon 
          points="<%=svg_l * 0%>,<%=svg_l * 1%>
                  <%=svg_l * 0%>,<%=svg_l * 0.5%>
                  <%=svg_l * 0.5%>,<%=svg_l * 1%>"
          style="fill:orange;stroke:grey;stroke-width:5;"
        /> 
        <!-- DOWN CENTER  -->
        <polygon 
          points="<%=svg_l * 0.25%>,<%=svg_l * 0.75%>
                  <%=svg_l * 0.5%>,<%=svg_l * 1%>
                  <%=svg_l * 0.75%>,<%=svg_l * 0.75%>"
          style="fill:yellow;stroke:grey;stroke-width:5;"
        /> 
        <!-- DOWN RIGHT   -->
        <polygon 
          points="<%=svg_l * 1%>,<%=svg_l * 1%> 
                  <%=svg_l * 0.5%>,<%=svg_l * 1%> 
                  <%=svg_l * 1%>,<%=svg_l * 0.5%>" 
          style="fill:violet;stroke:grey;stroke-width:5;" 
        /> 
      </svg>
    </span>
  <%end%>
  
  <section class="outputContainer" id="output"></section>
</article>
<article id="keywords">
  Detected keywords:
</article>
<footer>
  <i>The database used for card data is maintained by YGOProDeck.com.</i>
</footer>

<div style="display:none; visibility:hidden" id="values" cardDesc="<%= @card.desc %>">
</div>

<%= javascript_include_tag 'main_card' %>