<!DOCTYPE html>
<html>
  <head>
    <title>YU GI OH card Viewer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="searchbar container">
      <%= form_tag(cards_path, method: :get) do %>
        <%= text_field_tag :query, params[:query] %>
        <%= submit_tag ("Search")%>
      <% end %>
      <%= button_to "Home", home_path, :method => "get" %>
    </nav>
    <main role="main" class="container">
      <%= yield %>
    </main>
    <footer class="container">
      <i>The database used for card data is maintained by YGOProDeck.com.</i>
    </footer>
  </body>
</html>
