<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title)%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset = "UTF-8" />
    <meta name="description" content="A tool for reading Yugioh cards." />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="searchbar container">
      <%= form_tag(cards_path, method: :get) do %>
        <%= text_field_tag :query, params[:query] %>
        <%= submit_tag ("Search")%>
      <% end %>
      <%= button_to "Home", home_path, :method => "get" %>
    </nav>
    <main role="main" class="container">
      <%= yield %>
    </main>
    <footer class="container">
      <i>The database used for card information is maintained by <a href="https://ygoprodeck.com/">YGOProDeck.com</a>.<br/>
      Links to keyword information go to <a href="https://yugipedia.com/wiki/Yugipedia">Yugipedia.com</a>.<br/>
      The official Yugioh website can be found at <a href="https://www.yugioh-card.com/">yugioh-card.com</a>.<br/>
      This website is not produced by, endorsed by, supported by, or affiliated with 4k Media or Konami Digital Entertainment.<br/></i>
    </footer>
  </body>
</html>